<div class="content-padding">  
    <div class="podcast-list">
        <a href="" class="item podcast-live">
            <span class="podcast-li-nr"></span>
            <span class="podcast-li-title">Name</span>
            <span class="podcast-li-time"><strong>Arenas Won</strong></span>
        </a>
        <%
        if(userData.length!=0){
            var i=1;
            userData.forEach(function(data){
        %>
        <a href="#" class="item">
            <span class="podcast-li-nr">#<%=i; %></span><span class="podcast-li-title"><img src="../flags/<%=data.country_code %>.svg"> [<%=data.gang_tag %>] <%=data.name %></span>
            <span class="podcast-li-time"><%=data.Wins %></span>
        </a>    
        <%  i++; }) %>
        <% } else{ %>
            no data found
        <% } %>
    </div>
</div>
